<% include ../partials/header.ejs %>
<% include ../partials/topnavbar.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>  
            <a href="/workoutplan/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Workout</a>      
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Muscle</th>
                <th class="text-center col-1">Sets</th>
                <th class="text-center col-4">Reps</th>
                <th class="text-center col-1">Day</th>
            </tr>
            <% for(let count=0;count<WorkoutPlan.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= WorkoutPlan[count].Name %></td>
                <td class="text-center col-2"><%= WorkoutPlan[count].Muscle %></td>
                <td class="text-center col-1"><%= WorkoutPlan[count].Sets %></td>
                <td class="text-center col-4"><%= WorkoutPlan[count].Reps %></td>
                <td class="text-center col-1"><%= WorkoutPlan[count].Day %></td>
                <td class="text-center col-1">
                    <a href="/workoutplan/edit/<%= WorkoutPlan[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/workoutplan/delete/<%= WorkoutPlan[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottomnavbar.ejs %>
<% include ../partials/footer.ejs %>